//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
  display: inline-block;
  padding: rem(10) rem(25);
  background: #02897a;
  border-radius: rem(4);
  font-weight: 600;
  color: #ffffff;
  border: 1px solid #02897a;
  transition: all 0.2s ease 0s;
  font-size: 16px;
  line-height: math.div(24, 16);
  @media (any-hover: hover) {
    &:hover {
      color: #173a56;
      background: #fff;
      border: 1px solid #bcd0e5;
      border-radius: 4px;
    }
  }
  &._fw {
    width: 100%;
  }
  @media (max-width: $tablet) {
    padding: rem(8) rem(18);
  }
}
