//<INPUT>
// Снипет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input {
  background: #ffffff;
  border: 1px solid #bcd0e5;
  width: 100%;
  display: block;
  padding: rem(8) rem(10);
  border-radius: 4px;
  outline: none;
  &:focus {
    border: 1px solid #02897a;
  }
  &._error {
  }
}
textarea.input {
  resize: none;
  padding: 0px 0px;
}
