// Заголовки, общие БЄМ блоки и проче...

// Общий БЭМ заголовок
.title {
  font-weight: 700;
  line-height: math.div(48, 32);
  @include adaptiveValue("font-size", 32, 28);
}

// Pagination for swiper
.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(10);
}
.swiper-pagination-bullet {
  cursor: pointer;
  height: 16px;
  width: 16px;
  background-color: #efefef;
  border-radius: 50%;
}
.swiper-pagination-bullet-active {
  background-color: #02897a;
}

.swiper-dotts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(10);
  @media (min-width: $tablet) {
    display: none;
  }
}

.swiper-points {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(10);
  @media (min-width: $tablet) {
    display: none;
  }
}
