//====================================================================================================

//====================================================================================================

.footer {
  // .footer__container
  &__container {
  }
  // .footer__head
  &__head {
    display: flex;
    justify-content: space-between;
    @include adaptiveValue("column-gap", 80, 30, 1115, 768, 1);
    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }

  // .footer__first
  &__first {
    display: flex;
    flex: 1 1 auto;
    @media (max-width: $mobile) {
      order: 2;
    }
    @media (max-width: em(500)) {
      flex-direction: column;
      align-items: center;
    }
  }

  // .footer__column-logo
  &__column-logo {
    display: flex;
    flex-direction: column;
    gap: rem(24);
    padding-right: rem(30);
    flex: 1 1 auto;
    @media (max-width: em(500)) {
      &:not(:last-child) {
        margin-bottom: rem(30);
        padding-right: 0;
      }
    }
  }
  // .footer__column-info
  &__column-info {
    display: flex;
  }
  // .footer__column-form
  &__column-form {
    @media (max-width: $mobile) {
      order: 1;
      align-self: center;
      @include adaptiveValue("padding-bottom", 60, 40);
    }
  }
  // .footer__bottom
  &__bottom {
    display: flex;
    justify-content: center;
    padding: rem(40);
  }
}
.logo-column {
  // .logo-column__logo
  &__logo {
  }
  // .logo-column__logotype
  &__logotype {
  }
  // .logo-column__media
  &__media {
    display: flex;
    gap: rem(13);
    @media (max-width: em(500)) {
      justify-content: center;
    }
  }

  // .logo-column__image
  &__image {
  }

  // .logo-column__img
  &__img {
  }
}
.info-column {
  display: flex;
  @include adaptiveValue("column-gap", 100, 30, 1115, 768, 1);
  @media (max-width: em(500)) {
    text-align: center;
  }
  // .info-column__column
  &__column {
    padding-right: rem(15);
  }
  // .info-column__title
  &__title {
    font-weight: 500;
    @include adaptiveValue("font-size", 20, 18);
    line-height: 150%;
    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }
  // .info-column__list
  &__list {
  }
  // .info-column__item
  &__item {
    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }
  // .info-column__link
  &__link {
    display: block;
    line-height: 1.5;
    transform: scale(1);
    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.03);
        color: #02897a;
      }
    }
  }
}
.form-column {
  max-width: rem(325);
  @media (max-width: $mobile) {
    max-width: none;
    display: flex;
    flex-direction: column;
  }
  // .form-column__title
  &__title {
    max-width: rem(280);
    font-weight: 700;
    @include adaptiveValue("font-size", 20, 18);
    line-height: 1.5;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 34, 20);
    }
    @media (max-width: $mobile) {
      max-width: none;
    }
  }
  // .form-column__item
  &__item {
    display: flex;
    flex-direction: column;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 15, 10);
    }
  }

  // .form-column__label
  &__label {
    line-height: 1.6;
    font-weight: 500;
  }

  // .form-column__input
  &__input {
  }
  // .form-column__button
  &__button {
    align-self: center;
    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }
  // .form-column__error
  &__error {
    color: red;
  }
}
