.main {
}
.hero {
  display: flex;
  @include adaptiveValue("padding-top", 105, 77);
  @include adaptiveValue("padding-bottom", 114, 40);
  // .hero__container
  &__container {
    flex: 1 1 auto;
    display: flex;
    @media (max-width: $mobile) {
      flex-direction: column;
      row-gap: rem(40);
    }
    @media (min-width: $mobile) {
      align-items: center;
      column-gap: rem(15);
    }
  }
  // .hero__body
  &__body {
    flex: 1 1 46%;
  }
  // .hero__title
  &__title {
    font-weight: 700;
    @include adaptiveValue("font-size", 40, 30, 1115, 320, 1);
    line-height: 150%;
    max-width: rem(375);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 18, 16);
    }
  }
  // .hero__text
  &__text {
    @include adaptiveValue("font-size", 18, 14, 1115, 320, 1);
    line-height: 156%;
    max-width: rem(458);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 45, 25);
    }
  }
  // .hero__items
  &__items {
    display: flex;
    align-items: flex-start;
    @include adaptiveValue("row-gap", 30, 20);
    @include adaptiveValue("column-gap", 30, 15);
    @media (max-width: $mobileSmall) {
      flex-direction: column;
    }
    @media (min-width: $mobileSmall) {
      align-items: center;
    }
  }
  // .hero__button
  &__button {
  }
  // .hero__video
  &__video {
    font-weight: 600;
    line-height: math.div(24, 16);
    color: #02897a;
    position: relative;
    padding: 0 0 0 rem(25);
    @media (any-hover: hover) {
      &:hover {
        text-decoration-line: underline;
        text-decoration-color: #02897a;
      }
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: url("../img/main/hero/play.svg") 0 0 no-repeat;
    }
  }

  // .hero__picture
  &__picture {
    flex: 1 1 54%;
  }

  // .hero__ibg-image
  &__ibg-image {
    // .hero__ibg-image_padding
    &_padding {
      padding-bottom: percent(555, 600);
    }
  }
  // .hero__ibg-pic
  &__ibg-pic {
  }
}

// Второй блок
.columns-items {
  @include adaptiveValue("padding-bottom", 90, 40);
  // .columns-items__container
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  // .columns-items__head
  &__head {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 66, 30);
    }
  }
  // .columns-items__title
  &__title {
    text-align: center;
    max-width: rem(530);
  }
  // .columns-items__body
  &__body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @include adaptiveValue("column-gap", 46, 25);
    @include adaptiveValue("row-gap", 40, 30);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 34, 24);
    }
    @media (max-width: $mobile) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: em(420)) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  // .columns-items__item
  &__item {
  }
  // .columns-items__button
  &__button {
  }
}

.item-columns {
  display: flex;
  flex-direction: column;
  @media (max-width: em(420)) {
    align-items: center;
    text-align: center;
  }
  // .item-columns__image
  &__image {
    flex: 0 1 51px;
    width: 51px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 30, 16);
    }
  }
  // .item-columns__img
  &__img {
    max-height: 51px;
    max-width: 100%;
  }
  // .item-columns__title
  &__title {
    font-weight: 600;
    @include adaptiveValue("font-size", 22, 18);
    line-height: 1.4;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 13, 8);
    }
  }
  // .item-columns__text
  &__text {
    @include adaptiveValue("font-size", 16, 14);
    line-height: 162%;
    @media (max-width: em(420)) {
      max-width: rem(280);
    }
  }
}
