.main {
}
// Первый блок
.hero {
  display: flex;
  @include adaptiveValue("padding-top", 105, 77);
  @include adaptiveValue("padding-bottom", 114, 40);
  // .hero__container
  &__container {
    flex: 1 1 auto;
    display: flex;
    @media (max-width: $mobile) {
      flex-direction: column;
      row-gap: rem(40);
    }
    @media (min-width: $mobile) {
      align-items: center;
      column-gap: rem(15);
    }
  }
  // .hero__body
  &__body {
    flex: 1 1 46%;
  }
  // .hero__title
  &__title {
    font-weight: 700;
    @include adaptiveValue("font-size", 40, 30, 1115, 320, 1);
    line-height: 150%;
    max-width: rem(375);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 18, 16);
    }
  }
  // .hero__text
  &__text {
    @include adaptiveValue("font-size", 18, 14, 1115, 320, 1);
    line-height: 156%;
    max-width: rem(458);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 45, 25);
    }
  }
  // .hero__items
  &__items {
    display: flex;
    align-items: flex-start;
    @include adaptiveValue("row-gap", 30, 20);
    @include adaptiveValue("column-gap", 30, 15);
    @media (max-width: $mobileSmall) {
      flex-direction: column;
    }
    @media (min-width: $mobileSmall) {
      align-items: center;
    }
  }
  // .hero__button
  &__button {
  }
  // .hero__video
  &__video {
    font-weight: 600;
    line-height: math.div(24, 16);
    color: #02897a;
    position: relative;
    padding: 0 0 0 rem(25);
    @media (any-hover: hover) {
      &:hover {
        text-decoration-line: underline;
        text-decoration-color: #02897a;
      }
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: url("../img/main/hero/play.svg") 0 0 no-repeat;
    }
  }

  // .hero__picture
  &__picture {
    flex: 1 1 54%;
  }

  // .hero__ibg-image
  &__ibg-image {
    // .hero__ibg-image_padding
    &_padding {
      padding-bottom: percent(555, 600);
    }
  }
  // .hero__ibg-pic
  &__ibg-pic {
  }
}

// Второй блок
.columns-items {
  background: url("../img/main/columns-items/bg.svg") 0 100% / 100% no-repeat;
  @include adaptiveValue("padding-bottom", 90, 40);
  // .columns-items__container
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  // .columns-items__head
  &__head {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 66, 30);
    }
  }
  // .columns-items__title
  &__title {
    text-align: center;
    max-width: rem(530);
  }
  // .columns-items__body
  &__body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @include adaptiveValue("column-gap", 46, 25);
    @include adaptiveValue("row-gap", 40, 30);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 34, 24);
    }
    @media (max-width: $mobile) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: em(420)) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  // .columns-items__item
  &__item {
  }
  // .columns-items__button
  &__button {
  }
}

.item-columns {
  display: flex;
  flex-direction: column;
  @media (max-width: em(420)) {
    align-items: center;
    text-align: center;
  }
  // .item-columns__image
  &__image {
    flex: 0 1 51px;
    width: 51px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 30, 16);
    }
  }
  // .item-columns__img
  &__img {
    max-height: 51px;
    max-width: 100%;
  }
  // .item-columns__title
  &__title {
    font-weight: 600;
    @include adaptiveValue("font-size", 22, 18);
    line-height: 1.4;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 13, 8);
    }
  }
  // .item-columns__text
  &__text {
    @include adaptiveValue("font-size", 16, 14);
    line-height: 162%;
    @media (max-width: em(420)) {
      max-width: rem(280);
    }
  }
}

// Третий блок
.picture-body {
  @include adaptiveValue("padding-top", 150, 30);
  // .picture-body_padding
  &_padding {
    @include adaptiveValue("padding-bottom", 150, 40);
  }
  // .picture-body__container
  &__container {
    display: flex;
    @include adaptiveValue("column-gap", 84, 15);
    @include adaptiveValue("row-gap", 30, 15);
    @media (max-width: $mobileSmall) {
      flex-direction: column;
    }
    @media (min-width: $mobileSmall) {
      align-items: center;
    }
  }
  // .picture-body__content
  &__content {
    flex: 1 1 43.5%;
  }
  // .picture-body__subtitle
  &__subtitle {
    font-weight: 600;
    line-height: math.div(24, 16);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 8, 5);
    }
    // .picture-body__subtitle_line-height
    &_line-height {
      line-height: math.div(26, 16);
      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 12, 3, 1115, 768, 1);
      }
    }
  }
  // .picture-body__title
  &__title {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 23, 13, 1115, 768, 1);
    }
  }
  // .picture-body__text
  &__text {
    line-height: 162%;
    @include adaptiveValue("font-size", 16, 14);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 25, 13, 1115, 768, 1);
    }
    // .picture-body__text_width
    &_width {
      max-width: rem(380);
    }
  }

  // .picture-body__icon
  &__icon {
    display: flex;
    @include adaptiveValue("column-gap", 30, 15);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 30, 15);
    }
  }
  // .picture-body__ic
  &__ic {
    padding-top: 7px;
    align-self: flex-start;
  }

  // .picture-body__image
  &__image {
    flex: 1 1 48%;
  }
  // .picture-body__ibg-image
  &__ibg-image {
    // .picture-body__ibg-image_padding
    &_padding {
      padding-bottom: percent(473, 539);
    }
  }
  // .picture-body__ibg-pic
  &__ibg-pic {
  }
}

// Шестой блок
.message-items {
  padding-top: rem(50);
  background: url("../img/main/message-items/bg.svg") 0 0 / 100% no-repeat;
  // .message-items__container
  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  // .message-items__head
  &__head {
    max-width: rem(542);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 32, 20);
    }
  }
  // .message-items__title
  &__title {
    text-align: center;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 16, 13);
    }
  }
  // .message-items__text
  &__text {
    @include adaptiveValue("font-size", 16, 14);
    font-weight: 500;
    line-height: 162%;
    text-align: center;
  }
  // .message-items__body
  &__body {
    display: grid;
    @include adaptiveValue("row-gap", 24, 20);
    @include adaptiveValue("column-gap", 178, 40, 1115, 786, 1);
    grid-template-columns: repeat(2, 1fr);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 48, 30);
    }
    @media (max-width: rem(650)) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  // .message-items__item
  &__item {
  }
  // .message-items__button
  &__button {
  }
}

.item-message {
  display: flex;
  @include adaptiveValue("column-gap", 16, 8);
  align-items: flex-start;
  // .item-message__image
  &__image {
    flex: 0 1 102px;
    height: 102px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }
  // .item-message__img
  &__img {
    max-height: 100%;
    max-width: 102px;
  }
  // .item-message__text
  &__text {
    max-width: rem(290);
    text-align: center;
    @include adaptiveValue("font-size", 16, 14);
    font-weight: 500;
    line-height: math.div(24, 16);
    background: #ffffff;
    box-shadow: 0px 5px 8px rgba(86, 117, 146, 0.1);
    border-radius: 26.5px;
    padding: rem(15) rem(24);
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 100%;
      left: 10%;
      width: 18px;
      height: 9px;
      background-color: #fff;
      border-bottom-left-radius: 9px;
      border-bottom-right-radius: 9px;
      border-bottom: 0;
      transform: translateY(-30%);
    }
  }
}

// Седьмой блок
.items-slider {
  @include adaptiveValue("padding-top", 150, 50, 1115, 768, 1);
  @include adaptiveValue("padding-bottom", 150, 50, 1115, 768, 1);
  // .items-slider__container
  &__container {
  }
  // .items-slider__head
  &__head {
    max-width: rem(690);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 32, 20);
    }
  }
  // .items-slider__title
  &__title {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 8, 4);
    }
  }
  // .items-slider__text
  &__text {
    font-weight: 500;
    @include adaptiveValue("font-size", 16, 14);
    line-height: 162%;
  }
  // .items-slider__slider
  &__slider {
    &:not(:last-child) {
      @include adaptiveValue("padding-bottom", 64, 44);
    }
  }
  // .items-slider__wrapper
  &__wrapper {
  }
  // .items-slider__slide
  &__slide {
    display: flex;
  }
}

.swiper {
  padding: rem(20);
  margin: 0 rem(-20);
}
.swiper-wrapper {
}
.swiper-slide {
}
.slider-item {
  height: 100%;
  border: 1px solid #dedede;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.2s ease 0s;
  @media (any-hover: hover) {
    &:hover {
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    }
  }
  // .slider-item__ibg-image
  &__ibg-image {
    // .slider-item__ibg-image_padding
    &_padding {
      padding: 0 0 53.16% 0;
    }
  }
  // .slider-item__ibg-pic
  &__ibg-pic {
    border-radius: 8px 8px 0 0;
  }

  // .slider-item__body
  &__body {
    display: flex;
    flex-direction: column;
    padding: rem(30);
  }
  // .slider-item__subtitle
  &__subtitle {
    @include adaptiveValue("font-size", 16, 14);
    line-height: 175%;
    span {
      font-weight: 700;
    }
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 13, 8);
    }
  }
  // .slider-item__title
  &__title {
    flex: 1 1 auto;
    font-weight: 700;
    font-size: rem(24);
    line-height: 167%;
    transition: color 0.1s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: #02897a;
      }
    }
    @media (max-width: $mobileSmall) {
      text-align: center;
    }
  }
  // .slider-item__link
  &__link {
  }
}
